/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sofia Pro';
	src: url('fonts/SofiaPro-Bold.woff2') format('woff2'),
		url('fonts/SofiaPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('./fonts/SofiaPro.woff2') format('woff2'), url('./fonts/SofiaPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('./fonts/SofiaPro-SemiBold.woff2') format('woff2'),
		url('./fonts/SofiaPro-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('./fonts/SofiaPro-Medium.woff2') format('woff2'),
		url('./fonts/SofiaPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('./fonts/SofiaPro-Light.woff2') format('woff2'),
		url('./fonts/SofiaPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
